
<div class="container">
 <div class="row">
     <div class="col-sm">
<i class="fas fa-calendar-alt"></i> <%=@event[:date]%>
<h1>RSVP FOR <%=@event[:title]%></h1>
<p><%=@event[:description]%></p>
    <h2>RSVP</h2>